/* utility classes */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Varela+Round&display=swap');

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.font {
  font-family: 'Varela Round', sans-serif;
}

/* semantic classes */

.logo {
  width: 40%;
  margin-left: 1rem;
  color: #fff;
  font-family: 'Bungee', cursive;
}

nav {
  width: 60%;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #007b25;
}
