
/* utility classes */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Varela+Round&display=swap');

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.font {
  font-family: 'Varela Round', sans-serif;
}

.text-center {
  text-align: center;
}

.varela-round {
  font-family: 'Varela Round', sans-serif;
}

p {
  line-height: 1.5rem;
}

.font-white {
  color: #fff;
}

.font-black {
  color: #000;
}

.title {
  font-size: 36px;
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

/* semantic classes */

.logo {
  width: 40%;
  margin-left: 1rem;
  color: #fff;
  font-family: 'Bungee', cursive;
}

nav {
  width: 60%;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #007b25;
}

.symbol-form {
  margin: 2rem 0;
}

.symbol-form input {
  border: none;
  background: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.symbol-form label {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: #fff;
}

.search-box {
  border: 2px solid #fff;
  border-radius: 2rem;
  padding: 0 1rem;
}

#symbol-search {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#symbol-search::placeholder {
  color: #545454;
  font-family: 'Varela Round', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

#symbol-submit {
  color: #fff;
  font-weight: 1000;
  font-family: 'Varela Round', sans-serif;
}

#symbol-submit:focus,
#symbol-submit:hover {
  color: #ff5a40;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  width: 450px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 7px #fff;
}

.close-modal-button {
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: #ca4632;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  align-self: flex-end;
  font-size: 1.2rem;
  font-family: 'Varela Round', sans-serif;
  box-shadow: 1px 1px 2px #ca4632;
}

.close-modal-button:focus,
.close-modal-button:hover {
  background-color: #a61700;
  box-shadow: 1px 1px 2px #a61700;
}

.search-detail-container {
  margin: 2rem 0.5rem;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #272727, #212121, #272727);
  box-shadow: 1px 1px 3px #fff;
}

.search-detail-container div:first-child {
  border-bottom: 1px solid #464646;
}

.symbol-title {
  font-size: 36px;
  margin: 0.5rem 1rem;
  font-family: sans-serif;
  color: #fff;
}

.tag {
  color: #535353;
  text-transform: lowercase;
  font-style: italic;
  margin-left: 1rem;
}

.data {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.save-button {
  outline: none;
  background-color: #238d43;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-family: 'Varela Round', sans-serif;
  box-shadow: 1px 1px 2px #007b25;
  margin-bottom: 1rem;
}

.save-button:focus,
.save-button:hover {
  background-color: #004615;
  box-shadow: 1px 1px 2px #002b0d;
}

.noDiv {
  color: #bc2a2a;
}

.save-button:active,
.close-modal-button:active {
  transform: translateY(1px);
}

.list-container {
  margin: 2rem 0.5rem;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #272727, #212121, #272727);
  box-shadow: 1px 1px 3px #fff;
}

.break-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
}

.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  width: 36px;
  height: 36px;
}

.list-remove-button {
  background-color: #ec5f5f;
}

.list-detail-button {
  background-color: #4a79fd;
}

.list-line:not(:last-child) {
  border-bottom: 1px solid #444;
}

.list-button-margin {
  margin-right: 10px;
}

.empty-list {
  color: #bc2a2a;
  font-size: 18px;
  text-align: center;
}
