/* utility classes */

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/* semantic classes */

.logo {
  width: 40%;
  margin-left: 1rem;
  color: #fff;
}

nav {
  width: 60%;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #007b25;
}
